<!DOCTYPE HTML>
{% load static %}
<html lang="en">
    <head>
        <!--=============== basic  ===============-->
        <meta charset="UTF-8">
        <title>Homeradar - Real Estate Listing Template</title>
        <meta name="robots" content="index, follow"/>
        <meta name="keywords" content=""/>
        <meta name="description" content=""/>
        <!--=============== css  ===============-->	
        <link type="text/css" rel="stylesheet" href="/static/css/plugins.css">
        <link type="text/css" rel="stylesheet" href="/static/css/style.css">
        <link type="text/css" rel="stylesheet" href="/static/css/dashboard-style.css">
		<link type="text/css" rel="stylesheet" href="/static/css/dark-style.css">		
        <link type="text/css" rel="stylesheet" href="/static/css/color.css">
        <link type="text/css" rel="stylesheet" href="/static/css/dashboard-add-listing.css">

        <!--=============== favicons ===============-->
        <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}">

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">

<!-- Latest compiled JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://kit.fontawesome.com/17483d7dfc" crossorigin="anonymous"></script>

    </head>
    <body>
        <!--loader-->
        <div class="loader-wrap">
            <div class="loader-inner">
                <svg>
                    <defs>
                        <filter id="goo">
                            <fegaussianblur in="SourceGraphic" stdDeviation="2" result="blur" />
                            <fecolormatrix in="blur"   values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 5 -2" result="gooey" />
                            <fecomposite in="SourceGraphic" in2="gooey" operator="atop"/>
                        </filter>
                    </defs>
                </svg>
            </div>
        </div>
        <!--loader end-->
        <!-- main -->
        <div id="main">
            <!-- header -->
            <header class="main-header">
                <!--  logo  -->
                <div class="logo-holder"><a href="{% url 'index' %}"><img src="{% static 'images/logo.png' %}" alt=""></a></div>
                <!-- logo end  -->
                <!-- nav-button-wrap--> 
                <div class="nav-button-wrap color-bg nvminit">
                    <div class="nav-button">
                        <span></span><span></span><span></span>
                    </div>
                </div>
                <!-- nav-button-wrap end-->	
                <!-- header-search button  -->
                <div class="header-search-button">
                    <i class="fal fa-search"></i>
                    <span>Search...</span>
                                                </li>
                                                <li>
                                                    <div class="widget-posts-img"><a href="listing-single.html"><img src="images/all/small/1.jpg" alt=""></a>
                                                    </div>
                                                    <div class="widget-posts-descr">
                                                        <h4><a href="listing-single.html">Family Apartments</a></h4>
                                                        <div class="geodir-category-location fl-wrap"><a href="#"><i class="fas fa-map-marker-alt"></i> W 85th St, New York, USA </a></div>
                                                        <div class="widget-posts-descr-price"><span>Price: </span> ₹ 72.400</div>
                                                        <div class="clear-wishlist"><i class="fal fa-trash-alt"></i></div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                        <!-- widget-posts end-->
                                    </div>
                                    <!-- header-modal-container end--> 										
                                    <div class="header-modal-top fl-wrap">
                                        <a class="clear_wishlist color-bg" href="compare.html"><i class="fal fa-random"></i> Compare</a>
                                    </div>
                                </div>
                            </div>
                            <!--tab end -->
                        </div>
                        <!--tabs end -->							
                    </div>
                </div>
                <!--wishlist-wrap end -->                            
                <!--header-opt-modal-->  
 
                <!--header-opt-modal end -->  
            </header>
            <!-- header end  -->	
            <!-- wrapper  -->	
            <div id="wrapper">
                <!-- dashbard-menu-wrap -->
                <div class="dashbard-menu-overlay"></div>
                <div class="dashbard-menu-wrap">
                    <div class="dashbard-menu-close"><i class="fal fa-times"></i></div>
                    <div class="dashbard-menu-container">
                        <!-- user-profile-menu-->
                        <div class="user-profile-menu">
                            <h3>Main</h3>
                            <ul class="no-list-style">
                                <li><a href="{% url 'dashboard_add_listing' %}"><i class="fal fa-chart-line"></i>Dashboard</a></li>
                                <li><a href="{% url 'dashboard_mypropfile' %}"><i class="fal fa-user-edit"></i> Edit profile</a></li>
                                <li><a href="dashboard-messages.html"><i class="fal fa-envelope"></i> Messages <span>3</span></a></li>
                                <!-- <li><a href="dashboard-agents.html"><i class="fal fa-users"></i> Agents List</a></li> -->
                                <!-- <li>
                                    <a href="#" class="submenu-link"><i class="fal fa-plus"></i>Submenu</a>
                                    <ul  class="no-list-style">
                                        <li><a href="#"><i class="fal fa-th-list"></i> Submenu 2 </a></li>
                                        <li><a href="#"> <i class="fal fa-calendar-check"></i> Submenu 2</a></li>
                                        <li><a href="#"><i class="fal fa-comments-alt"></i>Submenu 2</a></li>
                                        <li><a href="#"><i class="fal fa-file-plus"></i> Submenu 2</a></li>
                                    </ul>
                                </li> -->
                            </ul>
                        </div>
                        <!-- user-profile-menu end-->
                        <!-- user-profile-menu-->
                        <div class="user-profile-menu">
                            <h3>Listings</h3>
                            <ul  class="no-list-style">
                                <li><a href="dashboard-listing-table.html"><i class="fal fa-th-list"></i> My listigs  </a></li>
                                <li><a href="dashboard-bookings.html"> <i class="fal fa-calendar-check"></i> Bookings <span>3</span></a></li>
                                <li><a href="dashboard-review.html"><i class="fal fa-comments-alt"></i> Reviews <span>2</span> </a></li>
                                <!-- <li><a href="{% url 'dashboard_add_listing' %}" class="user-profile-act"><i class="fal fa-file-plus"></i> Add New</a></li> -->
                            </ul>
                        </div>
                        <!-- user-profile-menu end--> 
                    </div>
                    <div class="dashbard-menu-footer">© Homeradar 2022 .  All rights reserved.</div>
                </div>
                <!-- dashbard-menu-wrap end  -->		
                <div class="dashboard-content">
                    <div class="dashboard-menu-btn color-bg"><span><i class="fas fa-bars"></i></span>Dasboard Menu</div>
                    <div class="container dasboard-container">
                        <!-- dashboard-title -->	
                         <!-- content -->	
                        <!-- end message framework -->
                        {% if messages %}
                            {% for message in messages %}
                                <div class="alert {{ message.tags }}">
                                    {{ message }}
                                </div>
                            {% endfor %}
                        {% endif %} 
                        <!-- end message framework -->
                        <div class="dashboard-title fl-wrap">
                            <div class="dashboard-title-item"><span>Add Listing</span></div>
                            <div class="dashbard-menu-header">
                                <div class="dashbard-menu-avatar fl-wrap">
                                    <img src="{% static 'images/avatar/1.jpg' %}" alt="">
                                    <h4>Welcome, <span>{{request.user|upper}}</span></h4>
                                </div>
                                <a href="{% url 'logout' %}" class="log-out-btn   tolt" data-microtip-position="bottom"  data-tooltip="Log Out"><i class="far fa-power-off"></i></a>
                            </div>
                            <!--Tariff Plan menu-->
                            <div class="tfp-det-container">
                                <div   class="tfp-btn"><span>Your Tariff Plan : </span> <strong>Extended</strong></div>
                                <div class="tfp-det">
                                    <p>You Are on <a href="#">Extended</a> . Use link bellow to view details or upgrade. </p>
                                    <a href="#" class="tfp-det-btn color-bg">Details</a>
                                </div>
                            </div>
                            <!--Tariff Plan menu end-->						
                        </div>
                        <!-- dashboard-title end -->		
                        <div class="dasboard-wrapper fl-wrap no-pag">
                          <!-- dasboard-widget-title -->
                            <div class="dasboard-widget-title fl-wrap" id="sec1">
                                <h5><i class="fas fa-info"></i>Provide details about the Property</h5>
                            </div>
                            <!-- dasboard-widget-title end -->
                            <!-- dasboard-widget-box  -->
                            <div class="dasboard-widget-box fl-wrap">
                                <div class="custom-form">
                                    <div class="row">
                                        {% comment %} <div class="col-sm-4">		 
                                            <label>Listing Title  <span class="dec-icon"><i class="far fa-briefcase"></i></span></label>
                                            <input type="text" placeholder="Name of your business" value=""/>
                                        </div> {% endcomment %}
                                        <div class="col-sm-4">
                                            <label>Property Listing for</label>
                                            <div class="listsearch-input-item">
                                                <select data-placeholder="All Types" class="chosen-select no-search-select" onchange="togglePropertyFor(this.value)" >
                                                    <option disabled>All Types</option>
                                                    <option value="Rent"> Rent</option>
                                                    <option value="Sell">Sell</option>
                                                    <option value="PG/Co-Living">PG/Co-Living</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <label>Building Type</label>
                                            <div class="listsearch-input-item">
                                                <select data-placeholder="All Types" class="chosen-select no-search-select" onchange="togglePropertyType(this.value)">
                                                    <option value="all">All Types</option>
                                                    <option value="residential">Residential</option>
                                                    <option value="commercial">Commercial</option>
                                                </select>
                                            </div>
                                        </div>
                                        
                                        <div id="residentialType" class="col-sm-4" style="display: none;">
                                            <label>Property Type</label>
                                            <div class="listsearch-input-item">
                                                <select data-placeholder="Apartments" class="chosen-select no-search-select" >
                                                    <option disabled selected>All Categories</option>
                                                    <option>Independent House</option>
                                                    <option>Apartment</option>
                                                    <option id="propCtgPlot" style="display: none !important;">Plot</option>
                                                    <option>Villa</option>
                                                    <option>Pent House</option>
                                                </select>
                                            </div>
                                        </div>
                                        
                                        <div id="commercialType" class="col-sm-4" style="display: none;">
                                            <label>Property Type</label>
                                            <div class="listsearch-input-item">
                                                <select data-placeholder="Apartments" class="chosen-select no-search-select">
                                                    <option disabled selected>All Categories</option>
                                                    <option>Office Space</option>
                                                    <option>Shop</option>
                                                    <option>Land</option>
                                                    <option>Showroom</option>
                                                    <option>Warehouse</option>
                                                    <option>Industrial Plot</option>
                                                </select>
                                            </div>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                            <!-- dasboard-widget-box  end-->
                            <!-- dasboard-widget-title -->
                            <div class="dasboard-widget-title dwb-mar fl-wrap" id="sec4">
                                <h5><i class="fas fa-list"></i>Property Profile</h5>
                            </div>
                            <!-- dasboard-widget-title end -->
                             <!-- dasboard-widget-box  -->
                             <div class="dasboard-widget-box   fl-wrap">
                                <div class="custom-form">

                                    <div class="clearfix"></div>
                                    <label>Furnished: </label>
                                    <div class=" add-list-tags fl-wrap">
                                        <!-- Checkboxes -->
                                        <ul class="fl-wrap filter-tags no-list-style ds-tg">
                                            <li>
                                                <input id="check-c4" type="checkbox" name="check">
                                                <label for="check-c4">Fully Furnished</label>
                                            </li>
                                            <li>
                                                <input id="check-c18" type="checkbox" name="check">
                                                <label for="check-c18">Semi-Furnished</label>
                                            </li>
                                            <li>
                                                <input id="check-c18" type="checkbox" name="check">
                                                <label for="check-c18">Non-Furnished</label>
                                            </li>
                                        </ul>
                                        <!-- Checkboxes end -->												
                                    </div>

                                    <div class="clearfix"></div>
                                    <label>Age of property: </label>
                                    <div class=" add-list-tags fl-wrap">
                                        <!-- Checkboxes -->
                                        <ul class="fl-wrap filter-tags no-list-style ds-tg">
                                            <li>
                                                <input id="check-c4" type="checkbox" name="check">
                                                <label for="check-c4">0-1 Years</label>
                                            </li>
                                            <li>
                                                <input id="check-c18" type="checkbox" name="check">
                                                <label for="check-c18">1-5 Years</label>
                                            </li>
                                            <li>
                                                <input id="check-c18" type="checkbox" name="check">
                                                <label for="check-c18">5-10 years</label>
                                            </li>
                                            <li>
                                                <input id="check-c18" type="checkbox" name="check">
                                                <label for="check-c18">10+ years</label>
                                            </li>
                                        </ul>
                                        <!-- Checkboxes end -->												
                                    </div>

                                    <div class="clearfix"></div>
                                    <label>BHK: </label>
                                    <div class=" add-list-tags fl-wrap">
                                        <!-- Checkboxes -->
                                        <ul class="fl-wrap filter-tags no-list-style ds-tg">
                                            <li>
                                                <input id="check-c4" type="checkbox" name="check">
                                                <label for="check-c4">1 BHK</label>
                                            </li>
                                            <li>
                                                <input id="check-c18" type="checkbox" name="check">
                                                <label for="check-c18">2 BHK</label>
                                            </li>
                                            <li>
                                                <input id="check-c18" type="checkbox" name="check">
                                                <label for="check-c18">3 BHK</label>
                                            </li>
                                            <li>
                                                <input id="check-c18" type="checkbox" name="check">
                                                <label for="check-c18">4 BHK</label>
                                            </li>
                                            <li>
                                                <input id="check-c20" type="checkbox" name="check" onclick="customInput1()">
                                               <label for="check-c20">Custom</label>
                                             

                                            </li>
                                        </ul>
                                        <div class="col-md-7" id="customBhk" style="display: none;">
                                            <!-- <label> <span class="dec-icon"><i class="far fa-rupee-sign"></i></span></label> -->
                                            <input type="text" placeholder=" Enter No. of Rooms " value="" style="width: 21rem;"/>	
                                        </div>
                                        <!-- Checkboxes end -->												
                                    </div>



                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <label>Area: <span class="dec-icon"><i class="far fa-sort-size-down-alt"></i></span></label>
                                                    <input type="text" placeholder="House Area" value=""/>											
                                                    <label>Balconies: <span class="dec-icon"><i class="far fa-clouds"></i></span></label>
                                                    <input type="text" placeholder="No. of Balconies" value=""/>													
                                                  												
                                                </div>
                                                <div class="col-sm-6">
                                                    <label>Bedrooms: <span class="dec-icon"><i class="far fa-bed"></i></span></label>
                                                    <input type="text" placeholder="No. of Bedrooms" value=""/>
                                                    <label>Bathrooms: <span class="dec-icon"><i class="far fa-bath"></i></span></label>
                                                    <input type="text" placeholder="No. of Bathroom" value=""/>												
                                                   											
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                    <label>Amenities: </label>
                                    <div class=" add-list-tags fl-wrap">
                                        <!-- Checkboxes -->
                                        <ul class="fl-wrap filter-tags no-list-style ds-tg">
                                            <li>
                                                <input id="check-aaa5" type="checkbox" name="check" checked>
                                                <label for="check-aaa5"> Wi Fi</label>
                                            </li>
                                            <li>
                                                <input id="check-bb5" type="checkbox" name="check" checked>
                                                <label for="check-bb5">Pool</label>
                                            </li>
                                            <li>
                                                <input id="check-dd5" type="checkbox" name="check">
                                                <label for="check-dd5"> Security</label>
                                            </li>
                                            <li>
                                                <input id="check-cc5" type="checkbox" name="check">
                                                <label for="check-cc5"> Laundry Room</label>
                                            </li>
                                            <li>
                                                <input id="check-ff5" type="checkbox" name="check" checked>
                                                <label for="check-ff5"> Equipped Kitchen</label>
                                            </li>
                                            <li>
                                                <input id="check-c4" type="checkbox" name="check">
                                                <label for="check-c4">Air Conditioning</label>
                                            </li>
                                           
                                        </ul>
                                        <!-- Checkboxes end -->												
                                    </div>
                                    
                                    <div class="clearfix"></div>
                                    <label>Reserved Parking: </label>
                                    <div class=" add-list-tags fl-wrap">
                                        <!-- Checkboxes -->
                                        <ul class="fl-wrap filter-tags no-list-style ds-tg">
                                            <li>
                                                <input id="check-c4" type="checkbox" name="check">
                                                <label for="check-c4">Covered Parking</label>
                                            </li>
                                            <li>
                                                <input id="check-c18" type="checkbox" name="check">
                                                <label for="check-c18">Open Parking</label>
                                            </li>
                                            <li>
                                                <input id="check-c18" type="checkbox" name="check">
                                                <label for="check-c18">Both</label>
                                            </li>
                                        </ul>
                                        <!-- Checkboxes end -->												
                                    </div>
                                    <div class="clearfix"></div>
                                    <label>Availability Status: </label>
                                    <div class=" add-list-tags fl-wrap">
                                        <!-- Checkboxes -->
                                        <ul class="fl-wrap filter-tags no-list-style ds-tg">
                                            <li>
                                                <input id="check-c4" type="checkbox" name="check">
                                                <label for="check-c4">Ready to move</label>
                                            </li>
                                            <li>
                                                <input id="check-c18" type="checkbox" name="check">
                                                <label for="check-c18">Under Construction</label>
                                            </li>
                                        </ul>
                                        <!-- Checkboxes end -->												
                                    </div>
                                    
                                </div>
                            </div>
                            <!-- dasboard-widget-box  end-->
                            <!-- dasboard-widget-title -->
                            <div class="dasboard-widget-title dwb-mar fl-wrap" id="sec2">
                                <h5><i class="fas fa-street-view"></i>More Details</h5>
                            </div>
                            <!-- dasboard-widget-title end -->
                            <!-- dasboard-widget-box  -->
                            <div class="dasboard-widget-box   fl-wrap">
                                <div class="custom-form">
                                    
                                    <div class="clearfix"></div>
                                    
                                    <div class="clearfix"></div>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <label>City</label>
                                            <div class="listsearch-input-item">
                                                <select data-placeholder="Apartments" class="chosen-select no-search-select" >
                                                    <option>All Cities</option>
                                                    <option>New York</option>
                                                    <option>London</option>
                                                    <option>Paris</option>
                                                    <option>Kiev</option>
                                                    <option>Moscow</option>
                                                    <option>Dubai</option>
                                                    <option>Rome</option>
                                                    <option>Beijing</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <label>Project/Building Name </label>
                                            <input style="padding-left: 10px !important" type="text" placeholder="Start typing building/project name...." value=""/>
                                        </div>
                                        <div class="col-sm-6">
                                            <label>Locality </label>
                                            <input style="padding-left: 10px !important" type="text" placeholder="Start typing Locality name...." value=""/>
                                        </div>
                                        <div class="col-sm-6">
                                            <label>Available From : </label>
                                            <input class="divdate" type="date"  value=""/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- dasboard-widget-box  end-->	
                           						

                                <!-- dasboard-widget-title -->
                                <div class="dasboard-widget-title dwb-mar fl-wrap" id="sec7">
                                    <h5><i class="fas fa-sliders-h"></i>Pricing Details</h5>
                                </div>
                                <!-- dasboard-widget-title end -->													
                                <!-- dasboard-widget-box  -->
                                <div class="dasboard-widget-box   fl-wrap">
                                    <div class="custom-form add_room-item-wrap">
                                        <div class="add_room-container fl-wrap">
                                            <!-- add_room-item   -->
                                            <div class="add_room-item fl-wrap" >
                                                <span class="remove-rp tolt" data-microtip-position="left"  data-tooltip="Remove"><i class="fal fa-times-circle"></i></span>
                                                <div class="row">
                                                    <div class="col-md-7">
                                                        <div class="row">
                                                            <div class="col-md-7">
                                                                <label>Price Details: <span class="dec-icon"><i class="far fa-rupee-sign"></i></span></label>
                                                                <input type="text" placeholder=" Expected Price " value=""/>	
                                                            </div>
                                                        </div>
                                                        
                                                    </div>
                                                    <div class="col-md-5">
                                                        <div class="row">
                                                            <div class="col-md-9">
                                                                <label> Maintainance Charges (per month) <span class="dec-icon"><i class="far fa-rupee-sign"></i></span></label>
                                                                <input type="text" placeholder=" Enter Amount " value=""/>	
                                                            </div>
                                                        </div>
                                                        
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class=" add-list-tags fl-wrap">
                                                    <!-- Checkboxes -->
                                                         <ul class="fl-wrap filter-tags no-list-style ds-tg">
                                                           <li>
                                                            <input id="check-2aaa5" type="checkbox" name="check" checked>
                                                            <label for="check-2aaa5">All inclusive price</label>
                                                            </li>
                                                        <li>
                                                            <input id="check-2bb5" type="checkbox" name="check" checked>
                                                            <label for="check-2bb5">Tax and Govt. Charges excluded</label>
                                                        </li>
                                                        <li>
                                                            <input id="check-2dd5" type="checkbox" name="check">
                                                            <label for="check-2dd5"> Price Negotiable</label>
                                                        </li>
                                                    </ul>
                                                    <!-- Checkboxes end -->												
                                                </div>
                                                    </div>

                                                    

                                                </div>
                                                <div class="clearfix"></div>
                                    <label>Do You Charge Brokerage </label>
                                    <div class=" add-list-tags fl-wrap">
                                        <!-- Checkboxes -->
                                        <ul class="fl-wrap filter-tags no-list-style ds-tg">
                                            <li>
                                                <input id="check-c18" type="checkbox" name="check">
                                                <label for="check-c18">No</label>
                                            </li>
                                            <li>
                                                <input id="check-c18" type="checkbox" name="check">
                                                <label for="check-c18">15 days</label>
                                            </li>
                                            <li>
                                                <input id="check-c18" type="checkbox" name="check">
                                                <label for="check-c18">30 days</label>
                                            </li>
                                            <li>
                                                <input id="check-c30" type="checkbox" name="check" onclick="customInput2()">
                                                <label for="check-c30">Custom</label>
                                            </li>
                                           
 
                                        </ul>
                                       
                                            <div class="col-md-7" id="customBrkg" style="display: none;">
                                                <label> <span class="dec-icon"><i class="far fa-rupee-sign"></i></span></label>
                                                <input type="text" placeholder=" Brokerage (in rupees) " value="" style="width: 21rem;"/>	
                                            </div>
                                       
                                        <!-- Checkboxes end -->												
                                    </div>

                                        <label>Built Up Area: <span class="dec-icon"><i class="far fa-sort-size-down-alt"></i></span></label>
                                        <input type="text" style=" width: 32%;" placeholder="in SqFt." value=""/>	

                                </div>
                                            <!-- <label>Plan Details</label>
                                                        <div class="listsearch-input-item">
                                                            <textarea cols="40" rows="3" style="height: 85px;" placeholder="Datails" spellcheck="false"></textarea>
                                                        </div> -->
                                            <!--add_room-item end  -->
                                        </div>
                                    </div>
                                </div>
    

                            <!-- dasboard-widget-title -->
                            <div class="dasboard-widget-title dwb-mar fl-wrap" id="sec3">
                                <h5><i class="fas fa-image"></i>Property Picture</h5>
                            </div>
                            <!-- dasboard-widget-title end -->
                            <!-- dasboard-widget-box  -->
                            <div class="dasboard-widget-box   fl-wrap">
                                <div class="custom-form">
                                    <span style="color: white; ">Accepted formats are .jpg, .gif, .bmp & .png and Maximum size allowed 10 MB</span>
                                    <div class="clearfix"></div>
                                    <div class="listsearch-input-item fl-wrap">
                                        <form class="fuzone">
                                            <div class="fu-text">
                                                <span><i class="far fa-cloud-upload-alt"></i> Click here or drop files to upload</span>
                                                <div class="photoUpload-files fl-wrap"></div>
                                            </div>
                                            <input type="file" class="upload" multiple>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <!-- dasboard-widget-box  end-->							
                            
                            						
                            <!-- dasboard-widget-title -->
                            <div class="dasboard-widget-title dwb-mar fl-wrap" id="sec5">
                                <h5><i class="fas fa-home-lg-alt"></i>Rooms</h5>
                                <div class="onoffswitch">
                                    <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch5" checked>
                                    <label class="onoffswitch-label" for="myonoffswitch5">
                                    <span class="onoffswitch-inner"></span>
                                    <span class="onoffswitch-switch"></span>
                                    </label>
                                </div>
                            </div>
                            <!-- dasboard-widget-title end -->													
                            <!-- dasboard-widget-box  -->
                            <div class="dasboard-widget-box   fl-wrap">
                                <div class="custom-form add_room-item-wrap">
                                    <div class="add_room-container fl-wrap">
                                        <!-- add_room-item   -->
                                        <div class="add_room-item fl-wrap" >
                                            <span class="remove-rp tolt" data-microtip-position="left"  data-tooltip="Remove Room"><i class="fal fa-times-circle"></i></span>
                                            <div class="col-sm-4" style="padding: 0px;">
                                                <label>Additional Rooms</label>
                                                <div class="listsearch-input-item">
                                                    <select data-placeholder="Select Extra Room" class="chosen-select no-search-select" >
                                                        <option>none of these</option>
                                                        <option>Pooja Room</option>
                                                        <option>Servant Room</option>
                                                        <option>Study Room</option>
                                                        <option>Extra Room</option>
                                                    </select>
                                                </div>
                                            </div>

                                            </div>
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <label>Room Details</label>
                                                    <div class="listsearch-input-item">
                                                        <textarea cols="40" rows="3" style="height: 175px;margin-bottom: 10px" placeholder="Datails" spellcheck="false"></textarea>
                                                    </div>
                                                </div>
                                                
                                            </div>
                                            <div class="clearfix"></div>
                                            <label>Amenities: </label>
                                            <div class=" add-list-tags fl-wrap">
                                                <!-- Checkboxes -->
                                                <ul class="fl-wrap filter-tags no-list-style ds-tg">
                                                    <li>
                                                        <input id="check-2aaa5" type="checkbox" name="check" checked>
                                                        <label for="check-2aaa5">Air conditioner</label>
                                                    </li>
                                                    <li>
                                                        <input id="check-2bb5" type="checkbox" name="check" checked>
                                                        <label for="check-2bb5">Tv Inside</label>
                                                    </li>
                                                    <li>
                                                        <input id="check-2dd5" type="checkbox" name="check">
                                                        <label for="check-2dd5"> Ceramic bath</label>
                                                    </li>
                                                    <li>
                                                        <input id="check-2cc5" type="checkbox" name="check" checked>
                                                        <label for="check-2cc5">Microwave</label>
                                                    </li>
                                                </ul>
                                                <!-- Checkboxes end -->												
                                            </div>
                                        </div>
                                        <!--add_room-item end  -->
                                    </div>
                                    <a href="#" class="add-room-item">Add New <i class="fal fa-plus"></i> </a>
                                </div>
                            </div>
                            <!-- dasboard-widget-box  end-->
                            <!-- dasboard-widget-title -->
                            <div class="dasboard-widget-title dwb-mar fl-wrap" id="sec6">
                                <h5><i class="fas fa-ruler-combined"></i>House Plans </h5>
                                <div class="onoffswitch">
                                    <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch22">
                                    <label class="onoffswitch-label" for="myonoffswitch22">
                                    <span class="onoffswitch-inner"></span>
                                    <span class="onoffswitch-switch"></span>
                                    </label>
                                </div>
                            </div>
                            <!-- dasboard-widget-title end -->													
                            <!-- dasboard-widget-box  -->
                            <div class="dasboard-widget-box   fl-wrap">
                                <div class="custom-form add_room-item-wrap">
                                    <div class="add_room-container fl-wrap">
                                        <!-- add_room-item   -->
                                        <div class="add_room-item fl-wrap" >
                                            <span class="remove-rp tolt" data-microtip-position="left"  data-tooltip="Remove"><i class="fal fa-times-circle"></i></span>
                                            <div class="row">
                                                <div class="col-sm-7">
                                                    <div class="row">
                                                        <div class="col-sm-6">
                                                            <label>Plan Title: <span class="dec-icon"><i class="far fa-ruler-horizontal"></i></span></label>
                                                            <input type="text" placeholder=" First Floor Plan " value=""/>	
                                                        </div>
                                                        <div class="col-sm-6">
                                                            <label>Plan Optional info: <span class="dec-icon"><i class="far fa-ruler-horizontal"></i></span></label>
                                                            <input type="text" placeholder="Example: 286 sq ft" value=""/>	
                                                        </div>
                                                    </div>
                                                    <label>Plan Details</label>
                                                    <div class="listsearch-input-item">
                                                        <textarea cols="40" rows="3" style="height: 85px;" placeholder="Datails" spellcheck="false"></textarea>
                                                    </div>
                                                </div>
                                                <div class="col-sm-5">
                                                    <label>Upload Images</label>
                                                    <div class="listsearch-input-item fl-wrap">
                                                        <form class="fuzone">
                                                            <div class="fu-text">
                                                                <span><i class="far fa-cloud-upload-alt"></i> Click here or drop files to upload</span>
                                                                <div class="photoUpload-files fl-wrap"></div>
                                                            </div>
                                                            <input type="file" class="upload">
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!--add_room-item end  -->
                                    </div>
                                    <a href="#" class="add-room-item">Add New <i class="fal fa-plus"></i> </a>
                                </div>
                            </div>
                            <!-- dasboard-widget-box  end-->
                            
                            <a href="#" class="btn  color-bg float-btn">Save Changes </a>
                        </div>
                        
                        
                    </div>
                    <div class="limit-box fl-wrap"></div>
                    <!-- dashboard-footer -->
                    <div class="dashboard-footer">
                        <div class="dashboard-footer-links fl-wrap">
                            <span>Helpfull Links:</span>
                            <ul>
                                <li><a href="{% url 'about' %}">About  </a></li>
                                <li><a href="blog.html">Blog</a></li>
                                <li><a href="pricing.html">Pricing Plans</a></li>
                                <li><a href="{% url 'contacts' %}">Contacts</a></li>
                                <li><a href="help.html">Help Center</a></li>
                            </ul>
                        </div>
                        <a href="#main" class="dashbord-totop  custom-scroll-link"><i class="fas fa-caret-up"></i></a>
                    </div>
                    <!-- dashboard-footer end -->				
                </div>
                <!-- content end -->	
                <div class="dashbard-bg gray-bg"></div>
            </div>
            <!-- wrapper end -->
        </div>

        
        <!-- Main end -->
        <!--=============== scripts  ===============-->
        <script src="/static/js/jquery.min.js"></script>
        <script src="/static/js/plugins.js"></script>
        <script src="/static/js/scripts.js"></script>
        <script src="/static/https://maps.googleapis.com/maps/api/js?key=YOU_API_KEY_HERE&libraries=places"></script>
        <script src="/static/js/map-add.js"></script>
        <script src="/static/js/dashboard.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>

        

        
        <script>
            function togglePropertyType(value) {
                if (value === "residential") {
                    document.getElementById("residentialType").style.display = "block";
                    document.getElementById("commercialType").style.display = "none";
                } else if (value === "commercial") {
                    document.getElementById("residentialType").style.display = "none";
                    document.getElementById("commercialType").style.display = "block";
                } else {
                    document.getElementById("residentialType").style.display = "none";
                    document.getElementById("commercialType").style.display = "none";
                }
            }

            function togglePropertyFor(value) {
                if (value === "Sell") {
                  
                    document.getElementById("propCtgPlot").style.display = "block";
                }  else {
                    document.getElementById("propCtgPlot").style.display = "none";
                }
            }



            function customInput1(){
                var check20 = document.getElementById("check-c20");
                var customBhk = document.getElementById("customBhk");

                if (check20.checked == true){
                    customBhk.style.display = "block";
                  } else {
                    customBhk.style.display = "none";
                  }
            }

            function customInput2(){
                var check30 = document.getElementById("check-c30");
                var customBrokerage = document.getElementById("customBrkg");

                if (check30.checked == true){
                    customBrokerage.style.display = "block";
                  } else {
                    customBrokerage.style.display = "none";
                  }
            }

            </script>

    </body>
</html>