{% extends 'base.html' %} 
{% block content %}
<!-- <div class="bg-wrap">
        <div class="bg par-elem " style="background: url('https://4.bp.blogspot.com/-SMHoyMJnHeU/UvtH_zfe0sI/AAAAAAAAAWE/xeSNRhvpHQc/s1600/locationbig1.jpg'); "
            data-scrollax="properties: { translateY: '30%' }">
        </div>
        data-scrollax-parent="true"
    </div> -->
<!-- <div class="overlay"></div> -->

<style>
  .house-statuses {
    background-color: white;
    display: flex;
    width: 35%;
    height: 3rem;
    justify-content: space-around;
    align-items: center;
    border-radius: 11px;
    margin-left: 7rem;
    position: relative;
    top: 36px;
  }
</style>

<section
  class="hero-section hero-section_dec"
  style="
    background-image: url('https://4.bp.blogspot.com/-SMHoyMJnHeU/UvtH_zfe0sI/AAAAAAAAAWE/xeSNRhvpHQc/s1600/locationbig1.jpg;');
    background-repeat: no-repeat;
    background-size: 100%;
  "
>
  <div class="container">
    <div class="hero-title hero-title_small">
      <h2>Welcome, {{request.user|upper}} <br>Find Your Dream House, using our platform</h2>
    </div>
    <div class="house-statuses" style="background: translucent;">
      <div style="cursor:pointer;" class="status" id="buy" data-label="Buy" onclick="func1()">Buy</div>
      <div>|</div>
      <div style="cursor:pointer;" class="status" id="rent" data-label="Rent" onclick="func2()">Rent</div>
      <div>|</div>
      <div style="cursor:pointer;" class="status" id="pg" data-label="PG" onclick="func3()">PG</div>
    </div>
    <div class="main-search-input-wrap">
      <div class="main-search-input fl-wrap">
        <div class="main-search-input-item">
            <select data-placeholder="All Categories" class="chosen-select">
              <option>All Cities</option>
              <option>New York</option>
              <option>London</option>
              <option>Paris</option>
              <option>Kiev</option>
              <option>Moscow</option>
              <option>Dubai</option>
              <option>Rome</option>
              <option>Beijing</option>
            </select>
          </div>
        <div class="main-search-input-item">
          <input
            type="text"
            placeholder="What are you looking for?"
            value=""
            style="color: white"
          />
        </div>
        <div class="main-search-input-item">
          <select
            data-placeholder="All Categories"
            class="chosen-select no-search-select"
          >
            <option>Budget</option>
            <option>For Rent</option>
            <option>For Sale</option>
          </select>
        </div>
        
        <button
          class="main-search-button color-bg"
          onclick="window.location.href='listing.html'"
        >
          Search <i class="far fa-search"></i>
        </button>
      </div>
    </div>
    <!-- <div class="hero-notifer fl-wrap">Need more search options? <a href="listing.html">Advanced
                Search</a> </div> -->
    <div class="scroll-down-wrap">
      <div class="mousey">
        <div class="scroller"></div>
      </div>
      <span>Scroll Down To Discover</span>
    </div>
  </div>
</section>
<!--  section  end-->
<!-- breadcrumbs-->
<!-- <div class="breadcrumbs fw-breadcrumbs sp-brd fl-wrap">
    <div class="container">
        <div class="breadcrumbs-list">
            <a href="#">Home</a> <span>Home Image</span>
        </div>
        <div class="share-holder hid-share">
            <a href="#" class="share-btn showshare sfcs"> <i class="fas fa-share-alt"></i> Share </a>
            <div class="share-container  isShare"></div>
        </div>
    </div>
</div> -->
<!-- breadcrumbs end -->
<!-- section -->
<section class="gray-bg small-padding">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="section-title fl-wrap">
          <h4>Browse Hot Offers</h4>
          <h2>Latest Properties</h2>
        </div>
      </div>
      <div class="col-md-8">
        <div class="listing-filters gallery-filters">
          <a
            href="#"
            class="gallery-filter gallery-filter-active"
            data-filter="*"
          >
            <span>All Categories</span></a
          >
          <a href="#" class="gallery-filter" data-filter=".for_sale">
            <span>For Sale</span></a
          >
          <a href="#" class="gallery-filter" data-filter=".for_rent">
            <span>For Rent</span></a
          >
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
    <!-- grid-item-holder-->
    <div class="grid-item-holder gallery-items gisp fl-wrap">
      <!-- gallery-item-->
      <div class="gallery-item for_sale">
        <!-- listing-item -->
        <div class="listing-item">
          <article class="geodir-category-listing fl-wrap">
            <div class="geodir-category-img fl-wrap">
              <a href="listing-single.html" class="geodir-category-img_item">
                <img src="/static/images/all/1.jpg" alt="" />
                <div class="overlay"></div>
              </a>
              <div class="geodir-category-location">
                <a
                  href="#"
                  class="single-map-item tolt"
                  data-newlatitude="40.72956781"
                  data-newlongitude="-73.99726866"
                  data-microtip-position="top-left"
                  data-tooltip="On the map"
                  ><i class="fas fa-map-marker-alt"></i>
                  <span> 70 Bright St New York, USA</span></a
                >
              </div>
              <ul class="list-single-opt_header_cat">
                <li><a href="#" class="cat-opt blue-bg">Sale</a></li>
                <li><a href="#" class="cat-opt color-bg">Apartment</a></li>
              </ul>
              <a
                href="#"
                class="geodir_save-btn tolt"
                data-microtip-position="left"
                data-tooltip="Save"
                ><span><i class="fal fa-heart"></i></span
              ></a>
              <a
                href="#"
                class="compare-btn tolt"
                data-microtip-position="left"
                data-tooltip="Compare"
                ><span><i class="fal fa-random"></i></span
              ></a>
              <div class="geodir-category-listing_media-list">
                <span><i class="fas fa-camera"></i> 8</span>
              </div>
            </div>
            <div class="geodir-category-content fl-wrap">
              <h3 class="title-sin_item">
                <a href="listing-single.html">Gorgeous House For Sale</a>
              </h3>
              <div class="geodir-category-content_price">₹ 600,000</div>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Maecenas in pulvinar neque. Nulla finibus lobortis pulvinar.
                Donec a consectetur nulla.
              </p>
              <div class="geodir-category-content-details">
                <ul>
                  <li><i class="fal fa-bed"></i><span>3</span></li>
                  <li><i class="fal fa-bath"></i><span>2</span></li>
                  <li><i class="fal fa-cube"></i><span>450 ft2</span></li>
                </ul>
              </div>
              <div class="geodir-category-footer fl-wrap">
                <a href="agent-single.html" class="gcf-company"
                  ><img src="/static/images/avatar/1.jpg" alt="" /><span
                    >By Liza Rose</span
                  ></a
                >
                <div
                  class="listing-rating card-popup-rainingvis tolt"
                  data-microtip-position="top"
                  data-tooltip="Good"
                  data-starrating2="4"
                ></div>
              </div>
            </div>
          </article>
        </div>
        <!-- listing-item end-->
      </div>
      <!-- gallery-item end-->
      <!-- gallery-item-->
      <div class="gallery-item for_sale">
        <!-- listing-item -->
        <div class="listing-item">
          <article class="geodir-category-listing fl-wrap">
            <div class="geodir-category-img fl-wrap">
              <a href="listing-single.html" class="geodir-category-img_item">
                <img src="/static/images/all/1.jpg" alt="" />
                <div class="overlay"></div>
              </a>
              <div class="geodir-category-location">
                <a
                  href="#"
                  class="single-map-item tolt"
                  data-newlatitude="40.88496706"
                  data-newlongitude="-73.88191222"
                  data-microtip-position="top-left"
                  data-tooltip="On the map"
                  ><i class="fas fa-map-marker-alt"></i>
                  <span> 40 Journal Square , NJ, USA</span></a
                >
              </div>
              <ul class="list-single-opt_header_cat">
                <li><a href="#" class="cat-opt blue-bg">Sale</a></li>
                <li><a href="#" class="cat-opt color-bg">Apartment</a></li>
              </ul>
              <a
                href="#"
                class="geodir_save-btn tolt"
                data-microtip-position="left"
                data-tooltip="Save"
                ><span><i class="fal fa-heart"></i></span
              ></a>
              <a
                href="#"
                class="compare-btn tolt"
                data-microtip-position="left"
                data-tooltip="Compare"
                ><span><i class="fal fa-random"></i></span
              ></a>
              <div class="geodir-category-listing_media-list">
                <span><i class="fas fa-camera"></i> 47</span>
              </div>
            </div>
            <div class="geodir-category-content fl-wrap">
              <h3 class="title-sin_item">
                <a href="listing-single.html">Luxury Family Home</a>
              </h3>
              <div class="geodir-category-content_price">₹ 320,000</div>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Maecenas in pulvinar neque. Nulla finibus lobortis pulvinar.
                Donec a consectetur nulla.
              </p>
              <div class="geodir-category-content-details">
                <ul>
                  <li><i class="fal fa-bed"></i><span>4</span></li>
                  <li><i class="fal fa-bath"></i><span>2</span></li>
                  <li><i class="fal fa-cube"></i><span>460 ft2</span></li>
                </ul>
              </div>
              <div class="geodir-category-footer fl-wrap">
                <a href="agent-single.html" class="gcf-company"
                  ><img src="/static/images/avatar/1.jpg" alt="" /><span
                    >By Anna Lips</span
                  ></a
                >
                <div
                  class="listing-rating card-popup-rainingvis tolt"
                  data-microtip-position="top"
                  data-tooltip="Excellent"
                  data-starrating2="5"
                ></div>
              </div>
            </div>
          </article>
        </div>
        <!-- listing-item end-->
      </div>
      <!-- gallery-item end-->
      <!-- gallery-item-->
      <div class="gallery-item for_rent">
        <!-- listing-item -->
        <div class="listing-item">
          <article class="geodir-category-listing fl-wrap">
            <div class="geodir-category-img fl-wrap">
              <a href="listing-single.html" class="geodir-category-img_item">
                <img src="/static/images/all/1.jpg" alt="" />
                <div class="overlay"></div>
              </a>
              <div class="geodir-category-location">
                <a
                  href="#"
                  class="single-map-item tolt"
                  data-newlatitude="40.94982541"
                  data-newlongitude="-73.84357452"
                  data-microtip-position="top-left"
                  data-tooltip="On the map"
                  ><i class="fas fa-map-marker-alt"></i>
                  <span> 34-42 Montgomery St , NY, USA</span></a
                >
              </div>
              <ul class="list-single-opt_header_cat">
                <li><a href="#" class="cat-opt blue-bg">Rent</a></li>
                <li><a href="#" class="cat-opt color-bg">House</a></li>
              </ul>
              <a
                href="#"
                class="geodir_save-btn tolt"
                data-microtip-position="left"
                data-tooltip="Save"
                ><span><i class="fal fa-heart"></i></span
              ></a>
              <a
                href="#"
                class="compare-btn tolt"
                data-microtip-position="left"
                data-tooltip="Compare"
                ><span><i class="fal fa-random"></i></span
              ></a>
              <div class="geodir-category-listing_media-list">
                <span><i class="fas fa-camera"></i> 4</span>
              </div>
            </div>
            <div class="geodir-category-content fl-wrap">
              <h3 class="title-sin_item">
                <a href="listing-single.html">Family House for Rent</a>
              </h3>
              <div class="geodir-category-content_price">₹ 700 / per month</div>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Maecenas in pulvinar neque. Nulla finibus lobortis pulvinar.
                Donec a consectetur nulla.
              </p>
              <div class="geodir-category-content-details">
                <ul>
                  <li><i class="fal fa-bed"></i><span>2</span></li>
                  <li><i class="fal fa-bath"></i><span>1</span></li>
                  <li><i class="fal fa-cube"></i><span>220 ft2</span></li>
                </ul>
              </div>
              <div class="geodir-category-footer fl-wrap">
                <a href="agent-single.html" class="gcf-company"
                  ><img src="/static/images/avatar/1.jpg" alt="" /><span
                    >By Mark Frosty</span
                  ></a
                >
                <div
                  class="listing-rating card-popup-rainingvis tolt"
                  data-microtip-position="top"
                  data-tooltip="Good"
                  data-starrating2="4"
                ></div>
              </div>
            </div>
          </article>
        </div>
        <!-- listing-item end-->
      </div>
      <!-- gallery-item end-->
      <!-- gallery-item-->
      <div class="gallery-item for_sale">
        <!-- listing-item -->
        <div class="listing-item">
          <article class="geodir-category-listing fl-wrap">
            <div class="geodir-category-img fl-wrap">
              <a href="listing-single.html" class="geodir-category-img_item">
                <img src="/static/images/all/1.jpg" alt="" />
                <div class="overlay"></div>
              </a>
              <div class="geodir-category-location">
                <a
                  href="#"
                  class="single-map-item tolt"
                  data-newlatitude="40.72228267"
                  data-newlongitude="-73.99246214"
                  data-microtip-position="top-left"
                  data-tooltip="On the map"
                  ><i class="fas fa-map-marker-alt"></i>
                  <span> W 85th St, New York, USA</span></a
                >
              </div>
              <ul class="list-single-opt_header_cat">
                <li><a href="#" class="cat-opt blue-bg">Sale</a></li>
                <li><a href="#" class="cat-opt color-bg">Apartment</a></li>
              </ul>
              <a
                href="#"
                class="geodir_save-btn tolt"
                data-microtip-position="left"
                data-tooltip="Save"
                ><span><i class="fal fa-heart"></i></span
              ></a>
              <a
                href="#"
                class="compare-btn tolt"
                data-microtip-position="left"
                data-tooltip="Compare"
                ><span><i class="fal fa-random"></i></span
              ></a>
              <div class="geodir-category-listing_media-list">
                <span><i class="fas fa-camera"></i> 13</span>
              </div>
            </div>
            <div class="geodir-category-content fl-wrap">
              <h3 class="title-sin_item">
                <a href="listing-single.html">Contemporary Apartment</a>
              </h3>
              <div class="geodir-category-content_price">₹ 1,600,000</div>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Maecenas in pulvinar neque. Nulla finibus lobortis pulvinar.
                Donec a consectetur nulla.
              </p>
              <div class="geodir-category-content-details">
                <ul>
                  <li><i class="fal fa-bed"></i><span>4</span></li>
                  <li><i class="fal fa-bath"></i><span>1</span></li>
                  <li><i class="fal fa-cube"></i><span>550 ft2</span></li>
                </ul>
              </div>
              <div class="geodir-category-footer fl-wrap">
                <a href="agent-single.html" class="gcf-company"
                  ><img src="/static/images/avatar/1.jpg" alt="" /><span
                    >By Bill Trust</span
                  ></a
                >
                <div
                  class="listing-rating card-popup-rainingvis tolt"
                  data-microtip-position="top"
                  data-tooltip="Excellent
                                        "
                  data-starrating2="5"
                ></div>
              </div>
            </div>
          </article>
        </div>
        <!-- listing-item end-->
      </div>
      <!-- gallery-item end-->
      <!-- gallery-item-->
      <div class="gallery-item for_sale for_rent">
        <!-- listing-item -->
        <div class="listing-item">
          <article class="geodir-category-listing fl-wrap">
            <div class="geodir-category-img fl-wrap">
              <a href="listing-single.html" class="geodir-category-img_item">
                <img src="/static/images/all/1.jpg" alt="" />
                <div class="overlay"></div>
              </a>
              <div class="geodir-category-location">
                <a
                  href="#"
                  class="single-map-item tolt"
                  data-newlatitude="40.88496706"
                  data-newlongitude="-73.88191222"
                  data-microtip-position="top-left"
                  data-tooltip="On the map"
                  ><i class="fas fa-map-marker-alt"></i>
                  <span> 75 Prince St, NY, USA</span></a
                >
              </div>
              <ul class="list-single-opt_header_cat">
                <li><a href="#" class="cat-opt blue-bg">Sale</a></li>
                <li><a href="#" class="cat-opt color-bg">Villa</a></li>
              </ul>
              <a
                href="#"
                class="geodir_save-btn tolt"
                data-microtip-position="left"
                data-tooltip="Save"
                ><span><i class="fal fa-heart"></i></span
              ></a>
              <a
                href="#"
                class="compare-btn tolt"
                data-microtip-position="left"
                data-tooltip="Compare"
                ><span><i class="fal fa-random"></i></span
              ></a>
              <div class="geodir-category-listing_media-list">
                <span><i class="fas fa-camera"></i> 12</span>
              </div>
            </div>
            <div class="geodir-category-content fl-wrap">
              <h3 class="title-sin_item">
                <a href="listing-single.html">Kayak Point House</a>
              </h3>
              <div class="geodir-category-content_price">₹ 500.000</div>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Maecenas in pulvinar neque. Nulla finibus lobortis pulvinar.
                Donec a consectetur nulla.
              </p>
              <div class="geodir-category-content-details">
                <ul>
                  <li><i class="fal fa-bed"></i><span>5</span></li>
                  <li><i class="fal fa-bath"></i><span>1</span></li>
                  <li><i class="fal fa-cube"></i><span>510 ft2</span></li>
                </ul>
              </div>
              <div class="geodir-category-footer fl-wrap">
                <a href="agent-single.html" class="gcf-company"
                  ><img src="/static/images/avatar/1.jpg" alt="" /><span
                    >By Andy Sposty</span
                  ></a
                >
                <div
                  class="listing-rating card-popup-rainingvis tolt"
                  data-microtip-position="top"
                  data-tooltip="Average"
                  data-starrating2="3"
                ></div>
              </div>
            </div>
          </article>
        </div>
        <!-- listing-item end-->
      </div>
      <!-- gallery-item end-->
      <!-- gallery-item-->
      <div class="gallery-item for_rent">
        <!-- listing-item -->
        <div class="listing-item">
          <article class="geodir-category-listing fl-wrap">
            <div class="geodir-category-img fl-wrap">
              <a href="listing-single.html" class="geodir-category-img_item">
                <img src="/static/images/all/1.jpg" alt="" />
                <div class="overlay"></div>
              </a>
              <div class="geodir-category-location">
                <a
                  href="#"
                  class="single-map-item tolt"
                  data-newlatitude="40.76221766"
                  data-newlongitude="-73.96511769"
                  data-microtip-position="top-left"
                  data-tooltip="On the map"
                  ><i class="fas fa-map-marker-alt"></i>
                  <span> 70 Bright St, Jersey City, NJ USA</span></a
                >
              </div>
              <ul class="list-single-opt_header_cat">
                <li><a href="#" class="cat-opt blue-bg">Rent</a></li>
                <li><a href="#" class="cat-opt color-bg">Apartment</a></li>
              </ul>
              <a
                href="#"
                class="geodir_save-btn tolt"
                data-microtip-position="left"
                data-tooltip="Save"
                ><span><i class="fal fa-heart"></i></span
              ></a>
              <a
                href="#"
                class="compare-btn tolt"
                data-microtip-position="left"
                data-tooltip="Compare"
                ><span><i class="fal fa-random"></i></span
              ></a>
              <div class="geodir-category-listing_media-list">
                <span><i class="fas fa-camera"></i> 21</span>
              </div>
            </div>
            <div class="geodir-category-content fl-wrap">
              <h3 class="title-sin_item">
                <a href="listing-single.html">Urban House</a>
              </h3>
              <div class="geodir-category-content_price">1500 / per month</div>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Maecenas in pulvinar neque. Nulla finibus lobortis pulvinar.
                Donec a consectetur nulla.
              </p>
              <div class="geodir-category-content-details">
                <ul>
                  <li><i class="fal fa-bed"></i><span>5</span></li>
                  <li><i class="fal fa-bath"></i><span>3</span></li>
                  <li><i class="fal fa-cube"></i><span>1210 ft2</span></li>
                </ul>
              </div>
              <div class="geodir-category-footer fl-wrap">
                <a href="agent-single.html" class="gcf-company"
                  ><img src="/static/images/avatar/1.jpg" alt="" /><span
                    >By Liza Kobart</span
                  ></a
                >
                <div
                  class="listing-rating card-popup-rainingvis tolt"
                  data-microtip-position="top"
                  data-tooltip="Excellent
                                        "
                  data-starrating2="5"
                ></div>
              </div>
            </div>
          </article>
        </div>
        <!-- listing-item end-->
      </div>
      <!-- gallery-item end-->
    </div>
    <!-- grid-item-holder-->
    <a href="about.html" class="btn float-btn small-btn color-bg"
      >View All Properties</a
    >
  </div>
</section>
<!-- section end-->
{% include "why_choose_our_properties.html" %}
<!-- section  -->
<section class="hidden-section no-padding-section">
  <div class="half-carousel-wrap">
    <div class="half-carousel-title color-bg">
      <div class="half-carousel-title-item fl-wrap">
        <h2>Explore Best Cities</h2>
        <h5>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </h5>
      </div>
      <div class="pwh_bg"></div>
    </div>
    <div class="half-carousel-conatiner">
      <div class="half-carousel fl-wrap full-height">
        <!--slick-item -->
        <div class="slick-item">
          <div class="half-carousel-item fl-wrap">
            <div class="bg-wrap bg-parallax-wrap-gradien">
              <div class="bg" data-bg="/static/images/bg/long/1.jpg"></div>
            </div>
            <div class="half-carousel-content">
              <div class="hc-counter color-bg">26 Properties</div>
              <h3><a href="listing.html">Explore NewYork</a></h3>
              <p>
                Constant care and attention to the patients makes good record
              </p>
            </div>
          </div>
        </div>
        <!--slick-item end -->
        <!--slick-item -->
        <div class="slick-item">
          <div class="half-carousel-item fl-wrap">
            <div class="bg-wrap bg-parallax-wrap-gradien">
              <div class="bg" data-bg="/static/images/bg/long/1.jpg"></div>
            </div>
            <div class="half-carousel-content">
              <div class="hc-counter color-bg">89 Properties</div>
              <h3><a href="listing.html">Awesome London</a></h3>
              <p>
                Constant care and attention to the patients makes good record
              </p>
            </div>
          </div>
        </div>
        <!--slick-item end -->
        <!--slick-item -->
        <div class="slick-item">
          <div class="half-carousel-item fl-wrap">
            <div class="bg-wrap bg-parallax-wrap-gradien">
              <div class="bg" data-bg="/static/images/bg/long/1.jpg"></div>
            </div>
            <div class="half-carousel-content">
              <div class="hc-counter color-bg">102 Properties</div>
              <h3><a href="listing.html">Find Dream in Paris</a></h3>
              <p>
                Constant care and attention to the patients makes good record
              </p>
            </div>
          </div>
        </div>
        <!--slick-item end -->
        <!--slick-item -->
        <div class="slick-item">
          <div class="half-carousel-item fl-wrap">
            <div class="bg-wrap bg-parallax-wrap-gradien">
              <div class="bg" data-bg="/static/images/bg/long/1.jpg"></div>
            </div>
            <div class="half-carousel-content">
              <div class="hc-counter color-bg">51 Properties</div>
              <h3><a href="listing.html">Elite Houses in Dubai</a></h3>
              <p>
                Constant care and attention to the patients makes good record
              </p>
            </div>
          </div>
        </div>
        <!--slick-item end -->
      </div>
    </div>
  </div>
</section>
<!--section end-->
<script>
  function func1() {
    document.getElementById("buy").style.color = "red";
  }
</script>

{% include "widgets/meet_our_agents.html" %} {% include "widgets/counter.html"
%} {% include "widgets/testimonials.html" %} {% endblock %}
