{% extends 'base.html' %}
{% block content %}
<link type="text/css" rel="stylesheet" href="/static/css/pg.css">

<!-- header end  -->
<!-- wrapper  -->
<div id="wrapper">
    <!-- content -->
    <div class="content">
        <!--  section  -->
        <section class="hero-section gray-bg">
            <div class="bg-wrap">
                <div class="half-hero-bg-media full-height">
                    <div class="slider-progress-bar">
                        <span>
                            <svg class="circ" width="30" height="30">
                                <circle class="circ2" cx="15" cy="15" r="13" stroke="rgba(255,255,255,0.4)"
                                    stroke-width="1" fill="none" />
                                <circle class="circ1" cx="15" cy="15" r="13" stroke="#fff" stroke-width="2"
                                    fill="none" />
                            </svg>
                        </span>
                    </div>
                    <div class="slideshow-container">
                        <!-- slideshow-item -->
                        <div class="slideshow-item">
                            <div class="bg"
                                data-bg="https://thumbs.dreamstime.com/b/man-woman-students-communicate-dorm-room-friends-spend-time-together-hostel-man-woman-students-communicate-267273455.jpg">
                            </div>
                        </div>
                        <!--  slideshow-item end  -->
                        <!-- slideshow-item -->
                        <div class="slideshow-item">
                            <div class="bg"
                                data-bg=https://www.shutterstock.com/shutterstock/videos/1098887269/thumb/1.jpg?ip=x480>
                            </div>
                        </div>
                        <!--  slideshow-item end  -->
                        <!-- slideshow-item -->
                        <div class="slideshow-item">
                            <div class="bg"
                                data-bg="https://t3.ftcdn.net/jpg/04/69/30/14/360_F_469301480_IFG4qf1hFx4AN8NPu4CQ1ZeikAYVmGbq.jpg">
                            </div>
                        </div>
                        <!--  slideshow-item end  -->
                    </div>
                </div>
            </div>
            <div class="container" style="margin-top : 2rem">
                <div class="hero-title hero-title_small">
                    <h2 style="font-size : 41px; margin-left:15rem; color: white;">
                        PG/Co-Living In Delhi
                    </h2>
                </div>
            </div>
            <div class="container searchHouseType">
                <div class="house-statuses">
                    <a class="houseastyle" href="{% url 'index' %}">
                        <button type="button" class="btn houseBtnStyle">Sell</button>
                    </a>
                    <a class="houseastyle" href="{% url 'rent' %}">
                        <button type="button" class="btn houseBtnStyle">Rent</button>
                    </a>

                    <a class="houseastyle" href="{% url 'pg_Coliving' %}">
                        <button type="button" class="btn houseBtnStyle">PG/Co-living</button>
                    </a>

                    <a class="houseastyle" href="{% url 'commercial' %}">
                        <button type="button" class="btn houseBtnStyle">Commercial</button>
                    </a>

                    <a class="houseastyle" href="{% url 'plot' %}">
                        <button type="button" class="btn houseBtnStyle">Plots</button>
                    </a>
                </div>
                <div class="main-search-input-wrap">
                    <div class="main-search-input fl-wrap">
                        <div class="main-search-input-item">
                            <select data-placeholder="All Categories" class="chosen-select">
                                <option>All Cities</option>
                                <option>Mumbai</option>
                                <option>Bengaluru</option>
                                <option>Hyderbad</option>
                                <option>Pune</option>
                                <option>Chennai</option>
                                <option>Delhi</option>
                                <option>Gurgaon</option>
                                <option>Noida</option>
                                <option>Kolkata</option>
                                <option>Ahmedabad</option>
                                <option>Thane</option>
                                <option>Navi Mumbai</option>
                                <option>OTHER CITIES</option>
                                <option>Agra</option>
                                <option>Agartala</option>
                                <option>Ajmer</option>
                                <option>Ahmednagar</option>

                                <option>Noida</option>
                            </select>
                        </div>
                        <div class="main-search-input-item">
                            <input type="text" placeholder="What are you looking for?" value="" style="color: white" />
                        </div>

                        <button class="main-search-button color-bg" onclick="window.location.href='listing.html'">
                            Search <i class="fal fa-search"></i>
                        </button>
                    </div>
                </div>
                <div class="scroll-down-wrap">
                    <div class="mousey">
                        <div class="scroller"></div>
                    </div>
                    <span>Scroll Down To Discover</span>
                </div>
            </div>
        </section>
        <!--  section  end-->
        <!-- breadcrumbs-->
        <div class="breadcrumbs fw-breadcrumbs sp-brd fl-wrap">
            <div class="container">
                <div class="breadcrumbs-list">
                    <a href="#">Home</a> <span>PG/Co-Living</span>
                </div>
                <div class="share-holder hid-share">
                    <a href="#" class="share-btn showshare sfcs"> <i class="fas fa-share-alt"></i> Share
                    </a>
                    <div class="share-container  isShare"></div>
                </div>
            </div>
        </div>
        <!-- breadcrumbs end -->
        <!-- section -->
        <section class="gray-bg small-padding">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="section-title fl-wrap">
                            <h4>Browse Hot Offers</h4>
                            <h2>Latest Properties</h2>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="listing-filters gallery-filters">
                            <a href="#" class="gallery-filter  gallery-filter-active" data-filter="*">
                                <span>All
                                    Categories</span></a>
                            <a href="#" class="gallery-filter" data-filter=".for_sale"> <span>For
                                    Sale</span></a>
                            <a href="#" class="gallery-filter" data-filter=".for_rent"> <span>For
                                    Rent</span></a>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
                <!-- grid-item-holder-->
                <div class="gallery-cont">
                    <div class="grid-item-holder gallery-items gisp fl-wrap pglistingsetting">
                        <!-- gallery-item-->
                        {% for each in pg %}
                        <div class="gallery-item for_sale pgdivsetting" >
                            <!-- listing-item -->
                            <div class="listing-item">
                                <article class="geodir-category-listing fl-wrap">
                                    <div class="geodir-category-img fl-wrap">

                                        <a href="{% url 'pgDetails' %}" class="geodir-category-img_item">
                                            <img style="height: 13rem;" class="listingimgsize" src="{{ each.pg_image.url }}" alt="" />
                                            <div class="overlay"></div>
                                        </a>
                                        <div class="geodir-category-location">
                                            <a href="#" class="single-map-item tolt" data-newlatitude="40.72956781"
                                                data-newlongitude="-73.99726866" data-microtip-position="top-left"
                                                data-tooltip="On the map"><i class="fas fa-map-marker-alt"></i>
                                                <span>{{each.pg_location}}</span></a>
                                        </div>

                                        <a href="#" class="geodir_save-btn tolt" data-microtip-position="left"
                                            data-tooltip="Save">
                                            <span><i class="fal fa-heart"></i></span></a>
                                        <a href="#" class="compare-btn tolt" data-microtip-position="left"
                                            data-tooltip="Compare">
                                            <span><i class="fal fa-random"></i></span>
                                            <span><i class="fa-thin fa-wifi"></i></i></span>
                                        </a>

                                    </div>
                                    <div class="geodir-category-content fl-wrap">
                                    <div >
                                        <div class="geodir-category-content_price">₹ {{ each.pg_rent }}</div>
                                        <h3 style="color: white;" class="my-heading">{{each.pg_name}}</h3>
                                    </div>
                                    <div style="color:White">
                                        <h6>Key Facilities
                                            <i class="fal fa-wifi mx-1" ></i>
                                            <i class="fal fa-snowflake mx-1"></i>
                                            <i class="fal fa-utensils mx-1"></i>
                                            <a href="{% url 'pgDetails' %}">+11 More</a>
                                        </h6>
                                    </div>
                                    <button type="button" class="btn btn-primary">Contact Owner</button>
                                </div>
                                </article>
                            </div>
                            <!-- listing-item end-->
                        </div>
                        {% endfor %}
                        <!-- gallery-item end-->
                        <!-- gallery-item-->
                    </div>
                </div>
                <!-- grid-item-holder-->
                <a href="listing.html" class="btn float-btn small-btn color-bg">View All Properties</a>
            </div>
        </section>
        <!-- section end-->

        <!-- setion start -->
        <section data-q="collections">
            <header class="header">
                <h3 class="homehead">
                    Our Handpicked
                    <span class="bold">Collections
                    </span>
                </h3>
            </header>
            <div class="section-content">
                <div class="collcont">
                    <a target="_blank" class="collcont1" href="{% url 'pg_All_Listing' %}">
                        <div class="sectcoll">
                            <img class="collection-img" src="../static/images/pg/forguys.jpg" alt="For Guys">
                        </div>
                        <div class="sectcoll1">For Guys</div>
                    </a>
                </div>
                <a target="_blank" class="collcont1" href="{% url 'pg_All_Listing' %}">
                    <div class="sectcoll">
                        <img class="collection-img" src="../static/images/pg/forgirls.png" alt="For Girls">
                    </div>
                    <div class="sectcoll1">For Girls</div>
                </a>
                <a target="_blank" class="collcont1" href="{% url 'pg_All_Listing' %}">
                    <div class="sectcoll">
                        <img class="collection-img" src="../static/images/pg/food.png" alt="Food Available">
                    </div>
                    <div class="sectcoll1">Food Available</div>
                </a>
                <a target="_blank" class="collcont1" href="{% url 'pg_All_Listing' %}">
                    <div class="sectcoll">
                        <img class="collection-img " src="../static/images/pg/privateroom.png" alt="Private Room">
                    </div>
                    <div class="sectcoll1">Private Room</div>
                </a>

            </div>

        </section>
        <!-- section end -->

        <!-- section -->
        <section class="firstsight">
            <div class="homefirstsight">
                <h2 class="homehead">Home at
                    <span class="bold"> First Sight</span>
                </h2>
            </div>
            <div class="section-cont container">
                <div class="container setText">
                    <div class="setpic">

                        <img src="../static/images/pg/yellowTick.png" alt="yellowTick">
                        <span class="para">Verified & Onboarded by our experts
                        </span>
                    </div>
                    <div class="setpic">
                        <img src="../static/images/pg/homeLogoSmall.png" alt="homeLogoSmall">
                        <span class="para">Every property detail on just a click
                        </span>
                    </div>
                    <div class="setpic">

                        <img src="../static/images/pg/userBase.png" alt="userBase">
                        <span class="para">Genuine & vast userbase
                        </span>
                    </div>
                </div>
                <img class="bg-img" src="../static/images/pg/homeAtSight.png" alt="background-image">

            </div>
        </section>

        <section style="padding-top: 0px;">
            <div class="pfBenefits">
                <section data-q="pgBenefits" style="padding: 10px 0px 10px 0px;">
                    <h2 class="homehead"> Benefits of our
                        <span class="bold"> PG/Guests</span>
                    </h2>

                </section>
                <div class="section-content container">

                    <div class="benecont">
                        <img class="beneimg" src="../static/images/pg/stress.png" alt="">
                        <div class="colblue">
                            Stress free search
                        </div>
                        <div class="benecont1">
                            Real property photos and Transparent pricing
                        </div>
                    </div>

                    <div class="benecont">
                        <img class="beneimg" src="../static/images/pg/yourmatch.jpg" alt="">
                        <div class="colblue">
                            Find your Match
                        </div>
                        <div class="benecont1">
                            Lots of options to choose from (private, twin & multi-sharing)
                        </div>
                    </div>

                    <div class="benecont">
                        <img class="beneimg" src="../static/images/pg/bonappetit.png" alt="">
                        <div class="colblue">
                            Bon appetite
                        </div>
                        <div class="benecont1">
                            Info on meal type and offerings to know what’s cooking
                        </div>
                    </div>

                    <div class="benecont">
                        <img class="beneimg" src="../static/images/pg/yourlife.jpg" alt="">
                        <div class="colblue">
                            Your Life, Your Rules
                        </div>
                        <div class="benecont1">
                            Advance info on house rules to live like you do
                        </div>
                    </div>

                </div>
            </div>
        </section>
        <!-- section end -->

        {% endblock %}