{% extends 'base.html' %}
<!DOCTYPE HTML>
{% load static %}

{% block content %}
<html lang="en">

<head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link type="text/css" rel="stylesheet" href="/static/css/property.css">
</head>
<body>
    
</body>

<section id="details" class="Details-section">
    <div class="details">
        <div class="details-text">
            <div class="details-price">
                <span class="rupee">₹</span>
                90.0 Lac
            </div>
        </div>
        <div class="details-title">
            <div class="dtls-title-text">
                <span class="dtls-title-text1">2 BHK Flat For Sale in DDA MIG Flats Pocket F,
                </span>
                <span class="dtls-title-text2"> <a href="#" target="_blank" class="dtls-title-text2-link">GTB Enclave, New Delhi</a>
                </span>
            </div>
            <div class="dtls-grid">
                <div class="dtls-photo">
                    <div class="dtls-photo-fig">
                        <img src="../static/images/commercial/coworkingspace.jpg" alt="">
                    </div>
                    <ul class="dtls-photo-thumbnail">
                        <li class="dtls-photo-thumbnail-item">
                            <img src="" alt="">
                        </li>
                        <li class="dtls-photo-thumbnail-item">
                            <img src="" alt="">
                        </li>
                        <li class="dtls-photo-thumbnail-item">
                            <img src="" alt="">
                        </li>
                    </ul>
                   
                </div>
                <div class="dtls-body">
                    <ul class="dtls-body-summary">
                        <li class="dtls-body-summary-item">
                            <span class="dtls-body-summary-item-highlight">2</span>
                            Beds
                        </li>
                        <li class="dtls-body-summary-item">
                            <span class="dtls-body-summary-item-highlight">2</span>
                           Baths
                        </li>
                        <li class="dtls-body-summary-item">
                            <span class="dtls-body-summary-item-highlight">1</span>
                            Balcony
                        </li>
                        <li class="dtls-body-summary-item">
                            <span class="dtls-body-summary-item-highlight"></span>
                            Unfurnished
                        </li>
                    </ul>
                    <ul class="dtls-body-list">
                        <li class="dtls-body-list-item">
                            <div class="dtls-body-list-label">Carpet Area</div>
                            <div class="dtls-body-list-column">
                                <div class="dtls-body-list">725
                                    <span class="dtls-body-list-units">
                                        <span>sqft</span>
                                    </span>
                                </div>

                            </div>
                        </li>

                    </ul>
                    </div>
                </div>
            </div>
        </div>

    </div>


</section>




<section class="amenities-section">
    <div class="amenities-itle">
        <div class="amenities-text1">Amenities</div>
    </div>
    <div class="Amenities">
        <ul class="amenities-list">
            <li class="list-item">Lift
            </li>

            <li class="list-item">Rain Water Harvesting
            </li>

            <li class="list-item">Park
            </li>

            <li class="list-item">Reserved Parking
            </li>

            <li class="list-item">Security
            </li>

            <li class="list-item">Water Storage
            </li>

            <li class="list-item">Visitor Parking
            </li>

            <li class="list-item">Maintenance Staff
            </li>

            <li class="list-item">Flower Gardens
            </li>

            <li class="list-item">Kids Play Area
            </li>

            <li class="list-item">Meditation Area
            </li>
            <li class="list-item">Fire Fighting Equipment
            </li>

        </ul>
    </div>
</section>

{% endblock %}
</body>
</html>