.dtls-action5 {
    width: 90%;
    height: auto;
    padding-top: 20px;
    display: flex;
}

.dtls-action-inline5 {
    width: auto;
    flex: 1;
}

.action-large5{
    padding: 13px 30px;
    height: 40px;
    line-height: 38px;
    border-radius: 10px;
    text-decoration: none;
    background-color: #3e7be5 !important;
    color: white;
}

.action-large1.btn-blue4 {
    background-color: #3e7be5 !important;
    color: white;
    border: 1px solid 3e7be5;
    border-radius: 10px;
    text-decoration: none;
    padding: 13px 30px;
}

.action-large1.btn-white5 {
    color: 3e7be5;
    background-color: #fff !important;
    border: 1px solid 3e7be5;
    margin-left: 2rem;
}
