.divdate{
    padding-left: 10px !important;
    width: 33.5vw;
    height: 3rem;
    background-color: #292e3a;
    color: white;
    border: none;
    border-radius: 4px;
}

.divdate2{
    padding-left: 10px !important;
    width: 14.8vw;
    height: 3rem;
    background-color: #292e3a;
    color: white;
    border: none;
    border-radius: 4px;
}

.clickablebtn{
    --bs-btn-active-bg: #0095ff; 
    color : red;
}

.buildingtype{
    gap: 1rem !important;
}
