.firstsight{
   padding-bottom: 2rem;
   padding-top: 0rem;
}
.homehead{
    color: white;
    font-size: 35px;
   text-align: center;
}
.sectcoll1{
    color: white;
    font-size: 20px;
    margin-top: 1rem;
    text-align: center;
}
.para{
    color: white;
    text-align: left !important;
    font-size: 20px;
}
.section-cont{
    display: flex;
    justify-content: space-evenly;
    margin-top: 4rem;
}

.bg-img{
    height: 37rem;
    width: 125%;
    margin-top: -8rem;
}
.homefirstsight{
    text-align: left;
}
.setpic{
    margin: 8px 12px;
    text-align: left;
    /* font-size: 23px; */
}
.setText{
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
    height: 15rem;
}

.bold{
    color: #0095ff;
    font-weight: bold;
}
.beneimg{
    width: 90%;
    height: 70%;
    border-radius: 1rem; 
   
}
.colblue{
    color: #0095ff !important;
    font-size: 20px;
    width: 17rem;
    text-align: center;
}
.benecont1 {
    color: white;
    font-size: 12px;
    margin-top: 1rem;
}
.benecont{
    width: 25%;
    margin-top: 46px;
    justify-content: center;
}
.pgBenefits{
    width: 100%;
    margin: 0 auto;
   
}
.section-content{
    display: flex;
    justify-content: space-evenly;
    margin-top: 4rem;
    
}
.collection-img{
    width: 16rem !important;
    height: 12rem;
    border-radius: 1rem;    
}

.ourproperties{
    padding-top: 0rem;

}
.collcont1{
    text-decoration: none;
}


.house-statuses {
    display: flex;
    width: 100%;
    height: 3rem;
    justify-content: space-around;
    align-items: center;
    border-radius: 13px;
    position: relative;
    top: 36px;
    border: 2px solid black;
    background-color: white;
    opacity: 0.7;
  }
  .status{
    cursor: pointer;
    font-size: large;
    font-weight: 700;
  }

  .searchHouseType{
    margin: auto;
    width: 100vh !important;
  }

  .houseBtnStyle{
    margin-top: 0rem;
    font-size: x-large;
    font-weight: 900;
    color: black;
    font-family: monospace;
  }
  .houseBtnStyle:hover{
    color: black;
    opacity: 1;
    text-decoration: underline;
    background: transparent !important;
  }
  .houseastyle:hover{
    background: transparent !important;
  }

  .dropdown-menu li {
    position: relative;
  }
  .dropdown-menu .dropdown-submenu {
    display: none;
    position: absolute;
    left: 100%;
    top: -7px;
  }
  .dropdown-menu .dropdown-submenu-left {
    right: 100%;
    left: auto;
  }
  .dropdown-menu > li:hover > .dropdown-submenu {
    display: block;
  }

.pgdivsetting{
  width: 27% !important;
  position: relative !important;
  left: 0px !important;
  top: 0px !important;
}

.pglistingsetting{
  display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}