.dtls-body-list1 {
    margin-bottom: -2rem;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-top: 1rem;

}

.dtls-body-list-item1{
    width: 33.33333%;
    height: auto;
    padding-bottom: 28px;
    padding-right: 12px;
}

.dtls-body-list-label1 {
    color: #f7f7f7;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    padding-bottom: 4px;
    text-transform: capitalize;
}

.dtls-body-list-value1 {
    color: #ededed;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
}

.dtls-flex-row1 {
    width: 100% !important;
    height: auto;
    display: flex;
    justify-content: flex-start !important;
    align-items: center !important;
    position: relative !important;
    margin-top: 3rem;
}

.dtls-action1 {
    width: 90%;
    height: auto;
    border-top: 1px solid gray !important;
    padding-top: 20px;
    display: flex;
}

.dtls-action-inline1 {
    width: auto;
    flex: 1;
}

.action-large1 {
    padding: 0 22px;
    height: 40px;
    line-height: 38px;
    border-radius: 10px;
    text-decoration: none;
    padding: 13px 30px;
}


.action-large1.btn-blue {
    color: #fff !important;
    background-color: #3e7be5 !important;
    border: 1px solid 3e7be5 !important;
    border-radius: 10px;
    text-decoration: none;
    padding: 13px 30px;
}

.action-large1.btn-white1 {
    color: 3e7be5 !important;
    background-color: #fff !important;
    border: 1px solid 3e7be5 !important;
    margin-left: 1rem;
}
