.dtls-action1 {
    width: 90%;
    height: auto;
    padding-top: 20px;
    display: flex;
}

.dtls-action-inline1 {
    width: auto;
    flex: 1;
}

.action-large1 {
    padding: 0 22px;
    height: 40px;
    line-height: 38px;
    border-radius: 10px;
    text-decoration: none;
    padding: 13px 27px;
}


.action-large1.btn-blue {
    color: #fff !important;
    background-color: #3e7be5 !important;
    border: 1px solid 3e7be5 !important;
    border-radius: 10px;
    text-decoration: none;
    padding: 13px 27px;
}

.action-large1.btn-white1 {
    color: 3e7be5 !important;
    background-color: #fff !important;
    border: 1px solid 3e7be5 !important;
    margin-left: 1rem;
}

/* 
.rentAllListingDivSetting{
    display: flex !important;
    flex-direction: column !important;
}

.rentAllListingItemSetting{
    width: 75vw !important;
    
    padding: 0px !important;
} */