.compare-top-btn{
    text-align: center !important;
}

.print-btn{
    text-align: center !important;
}
.scroll-nav{
    text-align: center !important;
}
.scroll-nav ul{
    padding-left: 0rem !important;
}

.gal-link{
    text-align: center;
}

.inline-facts-wrap{
    text-align: center;
}